@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
*,
.container-fluid {
  margin: 0;
  padding: 0; }

.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999999999; }
  .navbar h1 {
    width: 200px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 400;
    letter-spacing: 2px; }

.splash_image {
  height: 600px;
  width: 100%;
  position: relative;
  background: #3a8f8a; }
  .splash_image .logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 45px;
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px; }

.center-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #585656;
  margin-top: 0;
  padding-top: 50px; }

.main-body {
  width: 100%;
  height: 100%; }
  .main-body .about {
    width: 100%;
    height: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #ccc; }
    .main-body .about .terminal_window {
      width: 65%;
      height: 600px;
      position: absolute;
      top: 14%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background: #f6f6f6;
      border-radius: 8px; }
      .main-body .about .terminal_window .red {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 5px;
        left: 10px;
        border-radius: 100%;
        background: #ea534b; }
      .main-body .about .terminal_window .yellow {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 5px;
        left: 35px;
        border-radius: 100%;
        background: #f6bf32; }
      .main-body .about .terminal_window .green {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 5px;
        left: 60px;
        border-radius: 100%;
        background: #6cd146; }
      .main-body .about .terminal_window .terminal {
        width: 100%;
        height: 575px;
        background: #8c8a8a;
        position: absolute;
        top: 25px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
        .main-body .about .terminal_window .terminal .term_message {
          font-family: 'Inconsolata', monospace;
          font-weight: 700;
          color: #212121;
          letter-spacing: 1px;
          margin-top: 10px;
          margin-left: 35px;
          margin-bottom: 10px; }
        .main-body .about .terminal_window .terminal .echo,
        .main-body .about .terminal_window .terminal .last-line {
          font-family: 'Inconsolata', monospace;
          font-weight: 700;
          color: #212121;
          letter-spacing: 1px;
          margin-left: 35px;
          margin-bottom: 6px; }
        .main-body .about .terminal_window .terminal .print {
          color: #fefafa;
          font-family: 'Inconsolata', monospace;
          font-weight: 700;
          letter-spacing: 1px;
          margin-left: 65px;
          margin-bottom: 2.7%; }
        .main-body .about .terminal_window .terminal .print a {
          text-decoration: none; }
        .main-body .about .terminal_window .terminal .last-term-line {
          position: relative;
          width: 400px;
          height: 30px; }
          .main-body .about .terminal_window .terminal .last-term-line .blink_me {
            width: 10px;
            height: 16px;
            position: absolute;
            top: 0;
            left: 45%;
            background: #36c823;
            animation: blinker 1s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0.0; } }
  .main-body .skills {
    width: 100%;
    height: 800px;
    position: relative;
    background: #d56161; }
    .main-body .skills .skill-title {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 25px;
      font-size: 18px;
      letter-spacing: 4px;
      font-weight: 300;
      color: white; }
    .main-body .skills .row-centered {
      text-align: center; }
    .main-body .skills .col-centered {
      display: inline-block;
      float: none; }
    .main-body .skills .skill-box {
      height: 100px;
      margin: 15px 25px;
      border-radius: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.45);
      color: rgba(255, 255, 255, 0); }
    .main-body .skills .html {
      background-image: url(../images/html5.svg);
      background-size: 40%; }
    .main-body .skills .javascript {
      background-image: url(../images/js.svg);
      background-size: 35%; }
    .main-body .skills .css {
      background-image: url(../images/css.svg);
      background-size: 35%; }
    .main-body .skills .java {
      background-image: url(../images/java.svg);
      background-size: 22%; }
    .main-body .skills .c {
      background-image: url(../images/c.svg);
      background-size: 35%; }
    .main-body .skills .illustrator {
      background-image: url(../images/illustrator.svg);
      background-size: 35%; }
    .main-body .skills .photoshop {
      background-image: url(../images/photoshop.svg);
      background-size: 35%; }
    .main-body .skills .android-studio {
      background-image: url(../images/android_studio.svg);
      background-size: 35%; }

/* USED TO MAKE LINES FOR SKILLS SECTIONS */
.fancy {
  line-height: 0.5;
  text-align: center; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 4px;
  width: 90%; }

.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.fancy span:after {
  left: 100%;
  margin-left: 15px; }

/*# sourceMappingURL=main.css.map */
